<h2>Reactivos: Básicos</h2>
<hr>

<div class="row">
    <div class="col">
        <!--  Con el [formGroup] conectamos el myForm del TS  -->
        <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSave()">

            <!-- Campo de producto -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Producto</label>
                <div class="col-sm-9">

                    <input type="text"
                           class="form-control"
                           placeholder="Nombre del producto"
                           formControlName="name"
                           ><!-- Con formControlName asociamos un input a un campo del Form -->

                    @if ( formUtil.isValidField(myForm,"name") ) {
                      <span class="form-text text-danger">
                        <!-- Debe de ser de 3 letras -->
                        {{ formUtil.getFieldError(myForm,"name") }}
                      </span>
                    }

                </div>
            </div>

            <!-- Campo de producto -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                    <input type="number"
                           class="form-control"
                           placeholder="Precio del producto"
                           formControlName="price"
                           >
                           @if ( formUtil.isValidField(myForm,"price") ) {
                            <span class="form-text text-danger">
                              <!-- Debe de ser de 3 letras -->
                              {{ formUtil.getFieldError(myForm,"price") }}
                            </span>
                          }
                </div>
            </div>

            <!-- Campo de existencias -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Existencias</label>
                <div class="col-sm-9">
                    <input type="number"
                           class="form-control"
                           placeholder="Existencias del producto"
                           formControlName="inStorage"
                           >
                           @if ( formUtil.isValidField(myForm,"inStorage") ) {
                            <span class="form-text text-danger">
                              <!-- Debe de ser de 3 letras -->
                              {{ formUtil.getFieldError(myForm,"inStorage") }}
                            </span>
                          }
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <button type="submit"
                            class="btn btn-primary float-end">
                        Guardar
                    </button>
                </div>
            </div>



        </form>

    </div>
</div>




<div class="row">
    <div class="col">

        <span>Valid</span>
        <pre>{{ myForm.valid | json }}</pre>

        <span>Pristine</span>
        <pre>{{ myForm.pristine | json }}</pre>

        <span>Touched</span>
        <pre>{{ myForm.touched| json }}</pre>

        <span>Value</span>
        <pre>{{ myForm.value| json }}</pre>

        <hr>

        <span>Producto</span>
        <pre class="p-0 m-0">{{ myForm.controls['name'].value | json }}</pre>
        <pre class="text-danger">{{ myForm.controls['name'].errors| json }}</pre>

        <span>Precio</span>
        <pre class="p-0 m-0">{{ myForm.controls['price'].value | json }}</pre>
        <pre class="text-danger">{{ myForm.controls['price'].errors | json }}</pre>

        <span>Existencias</span>
        <pre class="p-0 m-0">{{ myForm.controls['inStorage'].value | json }}</pre>
        <pre class="text-danger">{{ myForm.controls['inStorage'].errors | json }}</pre>

    </div>
</div>
